body {
font-family: Arial, sans-serif;
background: #f5f5f5;
padding: 30px;
}
.resume-container{
	border:1px solid gray;
	width:800px;
	height:800px;
	background-color:white;
}
h4{
	color:blue;
}
.skills{
width: 800px;
background: #fff;
padding: 0px;
margin-bottom: 20px;
border-radius: 12px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.skill-header {
display: flex;
align-items: center;
gap: 10px;
margin-bottom: 10px;
font-size: 1.2rem;
font-weight: bold;
}
.badge {
background: #007bff;
color: white;
padding:2px 8px;
border-radius: 8px;
font-size: 0.7rem;
}
.bar-container {
width: 100%;
background: #ddd;
border-radius: 10px;
height: 12px;
overflow: hidden;
}
.bar {
height: 12px;
background: linear-gradient(90deg, #007bff, #00bfff);
}
.about-me{
	font-weight:bold;}